/* SHARED GLOBALS */
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 5px;
}


/* PAGE ELEMENTS */
/* layout */
.page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 80px;
}
.page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: auto;
}


/* FOOTER */
.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: absolute;
    bottom: 0;

    width: 99%;
    height: 40px;
    margin-bottom: 5px;
}
.footer-icons > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-icons > a > img {
    width: 20px;
    height: auto;
}


/* POSITIONING */
.center-span {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 100%;
}


/* COLORS */
.color-light-blue {
    background-color: rgb(170, 210, 255);
}


/* BORDERS */
.rounded5 {
    border-radius: 5px;
}


/* FONTS */
.arial {
    font-family: Arial;
}